# postgres_a
POSTGRES_A_DB=dbname
POSTGRES_A_USER=user
POSTGRES_A_PASSWORD=password

# postgres_b
POSTGRES_B_DB=dbname
POSTGRES_B_USER=user
POSTGRES_B_PASSWORD=password

# pgadmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=secret123
PGADMIN_PORT=5050

#DEMO APPLICATION
SERVER_PORT=8080
#postgres://<user>:<password>@<host>:<port>/<dbname>?sslmode=disable
DATABASE_URL_A=postgres://<user>:<password>@<host>:<port>/<dbname>?sslmode=disable
DATABASE_URL_B=postgres://<user>:<password>@<host>:<port>/<dbname>?sslmode=disable
