#DEMO APPLICATION
SERVER_PORT=8080
#postgres://<user>:<password>@<host>:<port>/<dbname>?sslmode=disable
DATABASE_URL_A=postgres://<user>:<password>@<host>:<port>/<dbname>?sslmode=disable
DATABASE_URL_B=postgres://<user>:<password>@<host>:<port>/<dbname>?sslmode=disable
